<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Material icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <!--  STYLESHEET -->
    <link href="/css/irb/style.css" rel="stylesheet">
    <!-- Chart.js -->
    <!-- chart.js version 3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <!-- end Chart.js -->
</head>

<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <!-- <img src="./image/logo.png" alt="logo.jpg"> -->
                    <h2>Seal<span class="success">Cloud</span></h2>
                </div>
            </div>
            <div class="close" id="close-btn">
                <span class="material-icons-sharp">close</span>
            </div>
            <div class="sidebar">

                <a href="#" class="active">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>IRB Dashboard</h3>
                </a>

                <a href="/user">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Config</h3>
                </a>


                <a href="#">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Log out</h3>
                </a>
            </div>
        </aside>
        <main>
            <h1>Dashboard</h1>
            <div class="insights">
                <div class="patient" name="left1">
                    <div class="top">
                        <div>
                            <select name="device_id" id="left_device_id">
                                <option value="null">IMU ID</option>
                                <option value="A">IMU-A</option>
                                <option value="B">IMU-B</option>
                                <option value="C">IMU-C</option>
                                <option value="D">IMU-D</option>
                                <option value="E">IMU-E</option>
                                <option value="F">IMU-F</option>
                                <option value="G">IMU-G</option>
                            </select>
                        </div>
                        <div class="left">
                            <h3>0</h3>
                            <p>Battery %</p>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="chart-container">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                    <div class="buttom">
                        <small class="text-muted">NO update record</small>
                    </div>
                </div>
                <div class="patient" name="Right1">
                    <div class="top">
                        <div>
                            <select name="device_id" id="left_device_id">
                                <option value="null">IMU ID</option>
                                <option value="A">IMU-A</option>
                                <option value="B">IMU-B</option>
                                <option value="C">IMU-C</option>
                                <option value="D">IMU-D</option>
                                <option value="E">IMU-E</option>
                                <option value="F">IMU-F</option>
                                <option value="G">IMU-G</option>
                            </select>
                        </div>
                        <div class="left">
                            <h3>0</h3>
                            <p>Battery %</p>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="chart-container">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                    <div class="buttom">
                        <small class="text-muted">NO update record</small>
                    </div>
                </div>
                <div class="patient" name="left2">
                    <div class="top">
                        <div>
                            <select name="device_id" id="left_device_id">
                                <option value="null">IMU ID</option>
                                <option value="A">IMU-A</option>
                                <option value="B">IMU-B</option>
                                <option value="C">IMU-C</option>
                                <option value="D">IMU-D</option>
                                <option value="E">IMU-E</option>
                                <option value="F">IMU-F</option>
                                <option value="G">IMU-G</option>
                            </select>
                        </div>
                        <div class="left">
                            <h3>0</h3>
                            <p>Battery %</p>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="chart-container">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                    <div class="buttom">
                        <small class="text-muted">NO update record</small>
                    </div>
                </div>
                <div class="patient" name="Right2">
                    <div class="top">
                        <div>
                            <select name="device_id" id="left_device_id">
                                <option value="null">IMU ID</option>
                                <option value="A">IMU-A</option>
                                <option value="B">IMU-B</option>
                                <option value="C">IMU-C</option>
                                <option value="D">IMU-D</option>
                                <option value="E">IMU-E</option>
                                <option value="F">IMU-F</option>
                                <option value="G">IMU-G</option>
                            </select>
                        </div>
                        <div class="left">
                            <h3>0</h3>
                            <p>Battery %</p>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="chart-container">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                    <div class="buttom">
                        <small class="text-muted">NO update record</small>
                    </div>
                </div>
            </div>
        </main>
</body>
<script src="/dashboard/js/main.js"></script>

</html>