<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Material icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <!--  STYLESHEET -->
    <link href="dashboard/css/style.css" rel="stylesheet">
    <!-- Chart.js -->
    <!-- chart.js version 3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <!-- end Chart.js -->
</head>

<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <!-- <img src="./image/logo.png" alt="logo.jpg"> -->
                    <h2>Seal<span class="success">Cloud</span></h2>
                </div>
            </div>
            <div class="close" id="close-btn">
                <span class="material-icons-sharp">close</span>
            </div>
            <div class="sidebar">

                <a href="#" class="active">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>IRB Dashboard</h3>
                </a>

                <a href="user">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Config</h3>
                </a>


                <a href="#">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Log out</h3>
                </a>
            </div>
        </aside>
        <main>
            <h1>Dashboard</h1>
            <div class="insights">
            </div>
        </main>
        <div class="right">
            <div class="top">
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Roy</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="./images/profile-1.jpg" alt="profile-1.jpg">
                    </div>
                </div>
            </div>
            <!-- < END of TOP  -->
        </div>
</body>
<script src="dashboard/js/main.js"></script>
<script id="patientr-template" type="text/html">
    <div class="patient" name="_PID_" data-PID="_PID_">
        <div class="top">
            <h3>_PID_</h3>
        </div>
        <div class="middle">
            <div class="chart-container">
                <canvas id="myChart_PID_"></canvas>
            </div>
        </div>
        <div class="buttom">
            <div class="left" onclick="toggleData(findchart('_PID_'),0)">
                <h3>--</h3>
                <p>HR bpm</p>
                <button>----------</button>
            </div>
            <div class="left" id="SPO2" onclick="toggleData(findchart('_PID_'),1)">
                <h3>--</h3>
                <p>SPO2 %</p>
                <button>----------</button>
            </div>
            <div class="left" id="TEMP" onclick="toggleData(findchart('_PID_'),2)">
                <h3>--</h3>
                <p>TEMP °C</p>
                <button>----------</button>
            </div>
            <div class="left" id="BP" onclick="toggleData(findchart('_PID_'),3)">
                <h3>---/---</h3>
                <p>BP mmHg</p>
                <button>----------</button>
            </div>
            <div class="left" id="RR" onclick="toggleData(findchart('_PID_'),6)">
                <h3>--</h3>
                <p>RR bpm</p>
                <button>----------</button>
            </div>
        </div>
        <small class="text-muted">NO update record</small>
    </div>
</script>

</html>