<p class="list-group-item list-group-item-action list-group-item-light" href="/">* DCS</p>
<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/">Dashboard</a>
<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user">Users</a>
<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/logout">Logout</a>
{{!-- https://newbedev.com/passing-variables-through-handlebars-partial --}}
{{!-- https://stackoverflow.com/questions/18946624/how-to-set-path-to-partials-in-node-js-with-express-handlebars-and-conslidate --}}
{{!-- https://github.com/tj/consolidate.js/blob/master/lib/consolidate.js#L115 --}}